{% extends 'users/base.html' %}



{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>О системе - Информационная система</title>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Добро пожаловать на страницу "О системе"</h1>

    <p>Эта система была создана студентами ЗИМИТ КНИТУ-КАИ Хасановым Д.И. и Хисамовым А.Р. с целью упрощения коммуникации между пользователями производства и сохранения окружающей среды.</p>

    <p>Наша информационная система предоставляет широкий спектр возможностей, чтобы помочь вам эффективно управлять и контролировать производственные вопросы. Вот некоторые из основных функций и преимуществ, которые предлагает система:</p>

    <ul>
      <li>Цифровизация бизнес-процессов: Система предлагает электронные формы и автоматизированные рабочие процессы, что помогает упростить и ускорить выполнение различных задач и операций, связанных с производственными вопросами.</li>
      <li>Мониторинг заявок: Вы можете создавать заявки, отслеживать их статус и прогресс выполнения. Это обеспечивает прозрачность и позволяет эффективно управлять производственными запросами.</li>
      <li>Центр знаний: В системе есть раздел "Центр знаний", где вы можете найти полезные инструкции и руководства, которые помогут вам в работе и решении возникающих вопросов.</li>
      <li>Авторизация и безопасность: Система обеспечивает безопасную авторизацию с использованием логина и пароля, чтобы гарантировать конфиденциальность ваших данных.</li>
      <li>Экологическая осознанность: Мы осознаем важность экологии и бережное отношение к природе. При использовании нашей информационной системы вы вносите свой вклад в сокращение потребления бумаги и других ресурсов, связанных с традиционными методами коммуникации. Мы верим, что эта мера способствует сохранению окружающей среды и созданию более устойчивого будущего.</li>
    </ul>


    <p>Спасибо, что выбрали нашу информационную систему по цифровизации бизнес-процессов мониторинга производственных вопросов. Мы надеемся, что она будет полезной для вас и сделает вашу работу более эффективной и удобной.</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock content %}


